.theme-color{
	background-color: #3367D6;
}
body {
    font-family: 'Poppins'
}
.img_wrap{
	width:50px;
}

.font-size1{
	font-size: small;
}
.button-color{
	background-color:rgb(253,253,253);
}
.button-color:hover{
	background-color:rgb(173, 165, 165) ;
}
.image {
	width: inherit;
	margin-right: -50%;
	transition: transform 0.3s;
	border-radius: 14px;
  }
  
  .image:hover {
	transform: scale(1.2);
  }