.theme-color{
	background-color: #3367D6;
}
body {
    font-family: 'Poppins'
}
.img_wrap{
	width:50px;
}

.font-size1{
	font-size: small;
}
.button-color{
	background-color:white;
}
.button-color:hover{
	background-color:white ;
}
.image {
	width: inherit;
	margin-right: -2.5rem;
	transition: transform 0.3s;
  }
  
  .image:hover {
	transform: scale(1.2);
  }