.theme-color{
	background-color: #3367D6;
}
body {
    font-family: 'Poppins'
}
.img_wrap{
	width:50px;
}

.font-size1{
	font-size: small;
}
.button-color{
	background-color:white;
}
.button-color:hover{
	background-color:#efefef ;
}
.image {
	width: 45px;
	margin-right: -50%;
	transition: transform 0.3s;
	border-radius: 14px;
  }
  
  .image:hover {
	transform: scale(1.2);
  }
.img_wrap2{
	height: 290px;
    width: auto;
    display: flex;
	
  }